.container {
    position: fixed;
    right: 20px;
    bottom: 00px;
    width: 350px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: solid 1px #333;
}

.chat_header {
    display: flex;
    align-items: center;
    background-color: #92c0f2;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 15px 15px 0 0px;
}

.user_details {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 12px;
}

.username h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.chat_messages {
    height: 300px;
    overflow-y: scroll;
    padding: 16px;
}
.close{
    margin-left: auto;
    margin-right: 0;
}

.message {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.content p {
    margin: 0;
}

.chat-input {
    padding: 16px;
    border-top: 1px solid #e5e5e5;
}

.sended {
    display: flex;
    justify-content: flex-end;
    background-color: #007bff;
    align-self: flex-end;
    max-width: fit-content;
    width: auto;
    color: #fff;
    margin-left: auto;
    /* Add this line to push the sender message to the right */
}

.received {
    display: flex;
    justify-content: flex-start;
    background-color: #f0f0f0;
    color: #333;
    width: fit-content;
}