.sidebar {
  margin-top: 60px;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar_nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar_nav_item {
  margin: 0;
}

.sidebar_nav_link {
  display: block;
  padding: 20px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.sidebar_nav_link:hover {
  background-color: #f5f5f5;
}

.sidebar_icon {
  margin-right: 10px;
  vertical-align: middle;
}

.sidebar_text {
  display: inline-block;
  vertical-align: middle;
}